<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalendarIconDateSettings</key>
	<dict>
		<key>FontSize</key>
		<integer>30</integer>
		<key>TextColor</key>
		<string>#f5f5f5</string>
		<key>TextYoffset</key>
		<integer>7</integer>
	</dict>
	<key>CalendarIconDateStyle</key>
	<string>color: #f5f5f5; opacity: 0.8;font-weight: ; font-size: 30px;
       </string>
	<key>CalendarIconDaySettings</key>
	<dict>
		<key>FontSize</key>
		<integer>9</integer>
		<key>ShadowBlurRadius</key>
		<integer>4</integer>
		<key>TextColor</key>
		<string>#f5f5f5</string>
	</dict>
	<key>CalendarIconDayStyle</key>
	<string>color: #f5f5f5;opacity: 1;font-weight: ;font-size: 7px;margin-left:0px;margin-top:8px;</string>
	<key>IB-MaskIcons</key>
	<true/>
	<key>PackageName</key>
	<string>Darkie Reload</string>
</dict>
</plist>
